section {
  background-image: url("/assets/images/backgroundtablefood.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  .title {
    margin-bottom: 0px;
    color: #fff;
  }
  .form {
    margin-top: 5rem;
    margin-bottom: 2rem;
    background: #fff;
    max-width: 380px;
    width: 380px;
    height: auto;
    .discription {
      color: #222;
      text-align: left;
      font-size: 15px;
    }
    .fields {
      padding: 24px 42px 42px;
      display: flex;
      flex-direction: column;
      .a-label {
        font-weight: bold;
        color: #949494;
        .terms-condition {
          color: #4343a1;
        }
      }
      button {
        width: 130px;
      }
    }
    .header {
      background-color: #4343a1;
      padding: 24px;
      img {
        max-height: 100%;
        max-width: 100%;
        height: 50px;
        width: auto;
      }
    }
  }
}
