<app-header></app-header>

<section class="content-center">
  <form class="form">
    <div class="header content-center">
      <h5 class="title">
        <strong>CONTACT US</strong>
      </h5>
    </div>
    <div class="fields text-center">
      <p class="discription">
        We're happy to answer any questions you have. Reach out to us and we'll respond as soon as we can.
      </p>
      <mat-form-field class="margin-bottom-1">
        <input matInput placeholder="Enter your email" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>

      <mat-form-field class="margin-bottom-2">
        <input matInput placeholder="Name" [formControl]="name" required>
        <mat-error *ngIf="name.invalid">This field is required</mat-error>
      </mat-form-field>

      <mat-form-field class="margin-bottom-2">
        <input matInput placeholder="Subject" [formControl]="subject" required>
        <mat-error *ngIf="subject.invalid">This field is required</mat-error>
      </mat-form-field>

      <mat-form-field class="margin-bottom-2">
        <textarea matInput placeholder="Message.." [formControl]="message" matTextareaAutosize required></textarea>
        <mat-error *ngIf="message.invalid">This field is required</mat-error>
      </mat-form-field>

      <button class="margin-bottom-2" [disabled]="!checkFormValid()" (click)="submit()" mat-raised-button color="primary">
        <strong>SEND</strong>
      </button>

    </div>
  </form>
</section>

<app-footer></app-footer>
