<div *ngIf="loading" class="full-width content-center margin-top-4 margin-bottom-4">
  <mat-spinner class=" margin-top-4 margin-bottom-4"></mat-spinner>
</div>

<mat-card *ngIf="!loading" class="full-height">
  <div class="row">
    <div class=" small-12 columns content-center">
      <strong class="margin-top-2 margin-bottom-2">
        <h4>Create {{data.tableName}} Table Records</h4>
      </strong>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="columns small-12 medium-3">
      <label>Table: </label>{{data.tableName}}
    </div>
    <div class="columns small-12 medium-3">
      <label>Description: </label>{{data.tableDescription}}
    </div>
    <div class="columns small-12 medium-6 content-center">
      <button mat-raised-button color="primary" (click)="addRecord()">Add Record</button>
      <input id="uploadRecords" style="width: 0px; visibility: hidden;" type="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
        (change)="uploadRecords($event)" />
      <button mat-raised-button color="primary" (click)="document.getElementById('uploadRecords').click();">Upload Fields</button>
      <button mat-raised-button color="accent" (click)="createRecords()">Create Records</button>
      <button mat-raised-button color="primary" (click)="location.back();">Back</button>
    </div>
  </div>
  <br>

  <table>
    <thead>
      <tr>
        <th *ngFor="let field of schema; let i = index">{{field.fieldName}}</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of fieldData; let j = index">
        <td *ngFor="let field of schema; let k = index">
          <mat-form-field class="full-width" *ngIf="field.type == 'String'">
            <input matInput [(ngModel)]="data[field.fieldName]">
          </mat-form-field>
          <mat-form-field class="full-width" *ngIf="field.type == 'Date'">
            <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="data[field.fieldName]">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-checkbox *ngIf="field.type == 'Boolean'" [(ngModel)]="data[field.fieldName]"></mat-checkbox>
          <mat-form-field class="full-width" *ngIf="field.type == 'Number'">
            <input matInput type="number" [(ngModel)]="data[field.fieldName]">
          </mat-form-field>
        </td>
        <td>
          <button mat-icon-button (click)="removeRecord(j);">
            <mat-icon color="warn">delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <div class="toolbar">

      </div>
    </tfoot>
  </table>


</mat-card>
