<footer>
  <div class="row align-center">
    <div class="small-12 medium-3 margin-bottom-2">
      <h5>Restaurant Managers</h5>
      <h6>Sign Up
        <strong>|</strong> Sign In</h6>
    </div>
    <div class="small-12 medium-3 margin-bottom-2">
      <div class="center-links">
        <h6>FAQ | Privacy Policy | Terms of Use</h6>
      </div>
    </div>
    <div class="small-12 medium-3 margin-bottom-2">
      <div class="social-icons">
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</footer>
