<mat-card class="header">
  <div class="row align-justify">
    <div class="small-12 large-6 columns">
      <button mat-button routerLink="/">
        <h5>Dynamic Table Api</h5>
      </button>
    </div>

    <div *ngIf="!localStorage.getItem('currentUser')" class="small-12 large-6 columns text-right">
      <button mat-button routerLink="/signup">Sign Up</button>
      <button mat-button routerLink="/signin">Sign In</button>
    </div>
    <div *ngIf="localStorage.getItem('currentUser')" class="small-12 large-6 columns text-right">
        <button mat-button routerLink="/tables">Tables List</button>
        <button mat-button routerLink="/logout">Logout</button>
      </div>
  </div>
</mat-card>
