<div *ngIf="!data && !record" class="full-width content-center margin-top-4 margin-bottom-4">
  <mat-spinner class=" margin-top-4 margin-bottom-4"></mat-spinner>
</div>

<mat-card class="full-height" *ngIf="data && record">
  <div class="row">
    <div class=" small-12 columns content-center">
      <strong class="margin-top-2 margin-bottom-2">
        <h4>Update Table {{data.tableName}}</h4>
      </strong>
    </div>
  </div>
  <br>
  <div class="row small-up-1 medium-up-2 large-up-3">
    <div class="column">
      <label>Table: </label>{{data.tableName}}
    </div>
    <div class="column">
      <label>Description: </label>{{data.tableDescription}}
    </div>
    <div class="column content-center">
      <button mat-raised-button color="accent" (click)="updateRecord()">Update Record</button>
      <button mat-raised-button color="primary" (click)="location.back();">Back</button>
    </div>
  </div>

  <br>

  <table>
    <tr>
      <th class="text-left">Fields</th>
      <th class="text-left">Data</th>
    </tr>
    <tr *ngFor="let field of data._schema let i = index">
      <td>{{field.fieldName}}</td>
      <td>
        <mat-form-field class="full-width" *ngIf="field.type == 'String'">
          <input matInput [(ngModel)]="record[field.fieldName]">
        </mat-form-field>
        <mat-form-field class="full-width" *ngIf="field.type == 'Date'">
          <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="record[field.fieldName]">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-checkbox *ngIf="field.type == 'Boolean'" [(ngModel)]="record[field.fieldName]"></mat-checkbox>
        <mat-form-field class="full-width" *ngIf="field.type == 'Number'">
          <input matInput type="number" [(ngModel)]="record[field.fieldName]">
        </mat-form-field>
      </td>
    </tr>
  </table>

</mat-card>
