section {
  background-image: url("/assets/images/backgroundtablefood.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  height: 100vh;
  .form {
    background: #fff;
    max-width: 380px;
    width: 380px;
    height: auto;
    .fields {
      padding: 24px 42px 42px;
      display: flex;
      flex-direction: column;
      [type='text'] {
        border: 1px solid #fff;
        background-color: #fff;
        height: 1rem;
      }
      .a-label {
        font-weight: bold;
        color: #949494;
        .terms-condition {
          color: #4343a1;
        }
      }
      span {
        font-weight: bold;
        color: #949494;
      }
      .a-login {
        color: #4343a1;
        font-weight: bold;
      }
      .forgotPassword {
        align-self: left;
        color: #3f51b5;
        font-weight: bold;
      }
    }
    .header {
      background-color: #4343a1;
      padding: 24px;
      img {
        max-height: 100%;
        max-width: 100%;
        height: 50px;
        width: auto;
      }
    }
  }
}
