  .section-1 {
    height: 100vh;
    .slider {
      width: 100%;
      height: 100%;
      position: relative;
      top: 50%;
      left: 0;
      -webkit-transform: translate(0, -50%);
      -moz-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      transform: translate(0, -50%);
      overflow: hidden;
      margin-top: 0px;
      margin-bottom: 0px;
      cursor: default;
    }
    .slider ul,
    .slider ul li {
      width: 100%;
      height: 100%
    }
    .slider ul {
      position: absolute;
      top: 0;
      left: 0;
      transition-duration: .5s;
      margin-right: 0;
      margin-left: 0;
    }
    .slider ul li {
      text-align: center;
      line-height: 400px;
      font-size: 50px;
      color: #aaa
    }
    .slider ul li img {
      width: 100%;
      object-fit: cover;
      vertical-align: top;
    }
    .slider ul li:first-of-type {
      background: #222
    }
    .slider ul li:nth-of-type(2) {
      background: #252525
    }
    .slider ul li:nth-of-type(3) {
      background: #222
    }
    .slider ul li:nth-of-type(4) {
      background: #252525
    }
    .slider ul li:last-of-type {
      background: #222
    }
    .slider ol {
      position: absolute;
      right: 0;
      top: 50%;
      padding-right: 15px;
      -webkit-transform: translate(0, -50%);
      -moz-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      transform: translate(0, -50%);
      z-index: 200;
    }
    .slider ol li {
      width: 10px;
      height: 10px;
      margin: 20px 5px;
      border-radius: 100%;
      background: rgba(255, 255, 255, .3);
      cursor: pointer;
    }
    .slider ol li:hover,
    .slider ol li.active {
      background: #eee
    }
    .description-box {
      webkit-transform: translate(0, -50%);
      -moz-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      transform: translate(0, -50%);
      position: absolute;
      top: 50%;
      color: #fff;
      width: 100%;
      text-align: center;
      padding: 0% 30%;
    }
    .down-arrow {
      webkit-transform: translate(-100%);
      -moz-transform: translate(-100%);
      -o-transform: translate(-100%);
      transform: translate(-100%);
      position: absolute;
      bottom: 5%;
      color: rgba(255, 255, 255, 0.5);
      ;
      font-size: 4em;
      left: 50%;
      cursor: pointer;
    }
    .down-arrow:hover {
      color: #fff;
    }
  } // 
  // 
  // 
  // 
  // 
  // 
  // 
  .section-2 {
    padding: 4rem 2rem;
    .heading-box {
      position: relative;
      color: #222;
      width: 100%;
      text-align: center;
      padding: 0% 30%;
      hr {
        border-bottom: 1px solid #000000;
      }
    }
    .mat-form-field {
      width: 100%
    }
    .feed-cell {
      height: auto;
      position: relative;
      img {
        transition: all 3s ease-in-out
      }
      .dimmer {
        position: absolute;
        top: 0;
        left: 0;
        color: white;
        z-index: 2;
        text-align: center;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 2rem;
        .foot {
          position: relative;
          .description-box {
            position: absolute;
            width: 100%;
            top: 53px;
            .title-label {
              margin-bottom: 0px;
            }
            .custom-pad {
              padding: 8px 0rem;
              font-size: 1.2em;
            }
            .bottom-text {
              font-size: 12px;
              mat-icon {
                font-size: 10px;
                vertical-align: baseline;
              }
            }
          }
        }
      }
    }
    .feed-cell:hover {
      .img {
        transform: scale(1.2);
      }
    }
  } // 
  // 
  // 
  // 
  // 
  // 
  /* Small only */

  @media screen and (max-width: 39.9375em) {
    .section-1 {
      height: 250px;
      .slider ol {
        position: absolute;
        right: 40%;
        top: 80%;
        -webkit-transform: translate(0, 0%);
        -moz-transform: translate(0, 0%);
        -o-transform: translate(0, 0%);
        transform: translate(0, 0%);
        display: inline-flex;
      }
      .description-label {
        font-size: 1em;
      }
      .description-box {
        padding: 0% 20%;
      }
    }
    .section-2 {
      .heading-box {
        padding: 0% 1 0%;
      }
    }
  }
