.slider {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  overflow: hidden;
  margin-top: 0px;
  margin-bottom: 0px;
}

.slider ul,
.slider ul li {
  width: 100%;
  height: 100%
}

.slider ul {
  position: absolute;
  top: 0;
  left: 0;
  transition-duration: .5s;
  margin-right: 0;
  margin-left: 0;
}

.slider ul li {
  text-align: center;
  line-height: 400px;
  font-size: 50px;
  color: #aaa
}

.slider ul li img {
  width: 100%;
  object-fit: cover;
}

.slider ul li:first-of-type {
  background: #222
}

.slider ul li:nth-of-type(2) {
  background: #252525
}

.slider ul li:nth-of-type(3) {
  background: #222
}

.slider ul li:nth-of-type(4) {
  background: #252525
}

.slider ul li:last-of-type {
  background: #222
}

.slider ol {
  position: absolute;
  right: 0;
  top: 50%;
  padding-right: 15px;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.slider ol li {
  width: 10px;
  height: 10px;
  margin: 20px 5px;
  border-radius: 100%;
  background: rgba(255, 255, 255, .3);
  cursor: pointer
}

.slider ol li:hover,
.slider ol li.active {
  background: #eee
}
