<div *ngIf="!data" class="full-width content-center margin-top-4 margin-bottom-4">
  <mat-spinner class=" margin-top-4 margin-bottom-4"></mat-spinner>
</div>


<mat-card class="full-height" *ngIf="data">
  <div class="row">
    <div class=" small-12 columns content-center">
      <strong class="margin-top-2 margin-bottom-2">
        <h4>Table {{data.tableName}}</h4>
      </strong>
    </div>
  </div>
  <br>
  <div class="row small-up-1 medium-up-2 large-up-4">
    <div class="column">
      <label>Table: </label>{{data.tableName}}
    </div>
    <div class="column">
      <label>Description: </label>{{data.tableDescription}}
    </div>
    <div class="column content-center">
      <button mat-raised-button color="warn" (click)="deleteTable()">Delete</button>
    </div>
    <div class="column content-center">
      <button mat-raised-button color="primary" (click)="location.back();">Cancel</button>
    </div>
  </div>
  <br>
  <table>
    <thead>
      <tr>
        <th>Field Name</th>
        <th>Type</th>
        <th>Length</th>
        <th>Unique</th>
        <th>Null</th>
        <th>Field Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let field of data._schema let i = index">
        <td>
          {{field.fieldName}}
        </td>
        <td>
          {{field.type}}
        </td>
        <td>
          {{field.length}}
        </td>
        <td>
          <mat-checkbox [ngModel]="field.unique"></mat-checkbox>
        </td>
        <td>
          <mat-checkbox [ngModel]="field.unique"></mat-checkbox>
        </td>
        <td>
          {{field.fieldDescription}}
        </td>
      </tr>
    </tbody>
  </table>
</mat-card>
