<app-header></app-header>
<section class="section-1">
  <div class="dimmer"></div>
  <div class="title-box">
    <h1>FREQUENTLY ASKED QUESTIONS</h1>
    <hr>
  </div>
</section>

<section class="section-2">
  <div class="faq-questions">
    <div class="questions-separator"></div>
    <p class="cover-title-label">THE WALTZIN EXPERIENCE</p>
    <p class="short-descr">Have you ever imagined what it would be like to have the chef at one of the best restaurants in town cook an exclusive
      menu just for you and your friends? With Waltzin, you now have the ability to book tickets to that type of chef’s table
      experience, right from your phone. Waltzin has carefully selected top Los Angeles restaurants to bring you chef guided
      table shared tasting menus featuring each chef’s greatest hits, their latest produce picks from the week’s farmer’s
      market, or maybe even a dish in the works for their newest menu change. Each Waltzin experience is different and entirely
      subject to what the chef wants to dazzle you with that evening. When you arrive, there will likely be no dinner menus.
      So, when booking, make sure to share any dietary restrictions for you and your party so the chef can customize your
      meal. After booking, simply “Waltzin" to the restaurant and just be taken care of by the hospitality team, course by
      course in a culinary showcase that will undoubtedly be memorable, delicious and unique</p>

    <!--template bindings={}-->
    <div>
      <p class="question-title">I HAVE DIETARY RESTRICTIONS. WILL THE CHEF BE ABLE TO ACCOMMODATE ME?</p>
      <p class="question-answer">We’ve coordinated with each chef to see which of the most common dietary restrictions and preferences they can accommodate.
        When booking, you select all that apply for each diner and the chef will make sure to customize the meal based on
        the entire party. While only the selections offered can be guaranteed, leave us a note and we will work with the
        chefs to accommodate other requests whenever possible.</p>
    </div>
    <div>
      <p class="question-title">WHAT'S ON THE MENU?</p>
      <p class="question-answer">We put you in the hands of the chef - we don't want to restrict their creativity! We just tell them to feed you like
        you were a friend. Be sure to come hungry! Chefs usually send out a broad range of seasonally inspired dishes that
        hit all the highlights of their menu. Sometimes you’ll even get a preview of dishes not on the menu yet or, depending
        on the size of your party, they’ll adjust portion sizes to make sure you get to taste more dishes before you’re full!
        If surprises aren’t your thing and you want to know what’s in store, just give the restaurant a call. Ask what the
        chef's thinking for your party and they'll be happy to tell you. Whether you choose to be surprised or not, our favorite
        diner stories are the ones where they tell us, "I never would have ordered that, but it was my favorite dish." Chefs
        discover and pair ingredients in ways we might never imagine. Let chef lead you on a flavor adventure!</p>
    </div>
    <div>
      <p class="question-title">WHAT PARTY SIZES DOES WALTZIN ALLOW?</p>
      <p class="question-answer">This is up to each restaurant. If your party size is no available, please reach out to support@waltzin.com or 310.699.4910
        and we'll do our best to accommodate.</p>
    </div>
    <div>
      <p class="question-title">ARE SERVICE &amp; TAX INCLUDED?</p>
      <p class="question-answer">Yes, 20% service &amp; taxes are included when booking. Beverages are billed separately after the meal.</p>
    </div>
    <div>
      <p class="question-title">ARE DRINKS INCLUDED IN THE MENU?</p>
      <p class="question-answer">Not at this time, however, a wine pairing tailored to each menu may be added at the restaurant.</p>
    </div>
    <div>
      <p class="question-title">WHAT'S INCLUDED IN MY PREPAYMENT?</p>
      <p class="question-answer">A fixed price menu of the moment - including 20% for service and tax. Any additions, like a wine pairing, will be collected
        by your server and should tipped on at your discretion. Unless explicitly stated, the price of your menu is for food
        only. Any drinks or additional options offered outside of the fixed priced menu will be collected by your server
        at the end of the meal. These items should be tipped on separately at your discretion.</p>
    </div>
    <div>
      <p class="question-title">HOW SHOULD I TIP?</p>
      <p class="question-answer">Only tip on the additions. Tax &amp; 20% for service are included in your prepayment. The only time you need to tip
        is when you order something outside of the set menu e.g. a cocktail. So, you should only tip on the additions, not
        the total. If you enjoyed outstanding service and want to further reward your server, take the opportunity to increase
        your tip on any beverages or by leaving cash.</p>
    </div>
    <div>
      <p class="question-title">WHY IS 20% SERVICE INCLUDED?</p>
      <p class="question-answer">Tipping in advance keeps things simple and seamless for you and the restaurant. But, we understand you may hesitate
        to reward your server before receiving service. We hope you find 20% acceptable, but know that you may increase or
        decrease your overall tip percentage via gratuity on beverages.</p>
    </div>
    <div>
      <p class="question-title">CAN I CHOOSE ANOTHER RESERVATION TIME?</p>
      <p class="question-answer">If your desired reservation time is not available, contact us or the restaurant to see if they can fit you in at another
        time.</p>
    </div>
    <div>
      <p class="question-title">WHEN / HOW FAR IN ADVANCE CAN I BOOK A RESERVATION?</p>
      <p class="question-answer">WaltzIn offers chef’s table experiences on a rolling 4 week calendar. You may book as soon as experiences become available!</p>
    </div>
    <div>
      <p class="question-title">WILL WE BE SEATED IMMEDIATELY?</p>
      <p class="question-answer">Restaurants do their best to seat you in a timely manner whether you come through WaltzIn or not.</p>
    </div>
    <div>
      <p class="question-title">WHAT IF WE'RE RUNNING LATE?</p>
      <p class="question-answer">You have a 15 minute grace period after which it is at the restaurant’s discretion whether to seat you. With that said,
        restaurants will do their best to accommodate. The earlier and the more you communicate, the better for both parties.
        If you feel like you were treated unfairly, please reach out and we'll make it right for you!</p>
    </div>
    <div>
      <p class="question-title">DOES WALTZIN PROVIDE REFUNDS?</p>
      <p class="question-answer">Our goal is to connect diners with chefs for an outstanding experience - ticketing makes that possible. In the event
        you do need to cancel, know that in all situations we do our best to accommodate the schedules of our diners and
        the lost revenue of our restaurant partners. As a platform that serves the needs of both sides to make this experience
        possible, we do our best to be flexible and reasonable. Advanced Cancellations: For advanced bookings, cancel by
        Midnight the day you make your booking for a full refund, no questions asked. In the event you need to cancel before
        the date of your reservation, WaltzIn will work with the restaurant to reschedule your experience or issue a full
        or partial refund. Day-of Cancellation: Although less likely than for advanced cancellations, WaltzIn will work with
        the restaurant to reschedule your experience or issue a full or partial refund. How to Cancel: Send a cancellation
        request to contact@waltzin.com and we will get to work right away.</p>
    </div>
  </div>
</section>
<app-footer></app-footer>
