<div class="row">
  <div class="small-12 content-center">
    <mat-form-field class="full-width">
      <input matInput placeholder="Table Name" [formControl]="tableName">
      <mat-error *ngIf="tableName.hasError('required')">
        Please fill the required field
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Table Description" [formControl]="tableDescription">
      <mat-error *ngIf="tableDescription.hasError('required')">
        Please fill the required field
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Enter table name" [formControl]="createdBy">
      <mat-error *ngIf="createdBy.hasError('required')">
        Please fill the required field
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Enter table name" [formControl]="changedBy">
      <mat-error *ngIf="changedBy.hasError('required')">
        Please fill the required field
      </mat-error>
    </mat-form-field>
  </div>
  <div class="small-12 content-center">
    <button mat-button (click)="createTable()">Create</button>
  </div>
</div>
