<section class="content-center">
  <form class="form">
    <mat-form-field>
      <input matInput placeholder="First & Last Name or Alias" [formControl]="user.name" required>
      <mat-error *ngIf="user.name.invalid">This field is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Enter your email" [formControl]="user.email" required>
      <mat-error *ngIf="user.email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Password" [formControl]="user.password" [type]="password" required>
      <mat-error *ngIf="user.password.invalid">This field is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Password(confirm)" [formControl]="confirmPassword" [type]="password" required>
      <mat-error *ngIf="confirmPassword.invalid">This field is required</mat-error>
    </mat-form-field>

    <mat-checkbox [formControl]="terms" required>I accept the terms and conditions.</mat-checkbox>
    

  </form>
</section>
