table {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
  thead,
  tfoot {
    background: #fff;
    color: rgba(0, 0, 0, 0.54);
    font-size: 12px;
    font-weight: 500;
    border: none;
  }
  tbody {
    border: none;
    background-color: #fff;
    tr:nth-child(even) {
      background-color: #fff;
    }
  }
}

.content-card {
  min-height: 100%;
}

