<div *ngIf="loading" class="full-width content-center margin-top-4 margin-bottom-4">
  <mat-spinner class=" margin-top-4 margin-bottom-4"></mat-spinner>
</div>

<mat-card *ngIf="!loading" class="full-height">
  <div class="row">
    <div class=" small-12 columns content-center">
      <strong class="margin-top-2 margin-bottom-2">
        <h4>
          <span *ngIf="!editing">Create Table</span>
          <span *ngIf="editing">Update Table
            <span *ngIf="data">{{data.tableName}}</span>
          </span>
        </h4>
      </strong>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="columns small-12 medium-3">
      <mat-form-field class="full-width">
        <input matInput placeholder="Table Name" [formControl]="tableName">
        <mat-error *ngIf="tableName.hasError('required')">
          Please fill the required field
        </mat-error>
      </mat-form-field>
    </div>
    <div class="columns small-12 medium-4">
      <mat-form-field class="full-width">
        <input matInput placeholder="Table Description" [formControl]="tableDescription">
        <mat-error *ngIf="tableDescription.hasError('required')">
          Please fill the required field
        </mat-error>
      </mat-form-field>
    </div>
    <div class="columns small-12 medium-5 content-center">

      <div *ngIf="!editing">
        <button mat-raised-button color="primary" (click)="addField()">Add Field</button>
        <input id="uploadFields" style="width: 0px; visibility: hidden;" type="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
          (change)="uploadFields($event)" />
        <button mat-raised-button color="primary" (click)="document.getElementById('uploadFields').click();">Upload Fields</button>
        <button mat-raised-button color="accent" (click)="createTable()">Create Table</button>
        <button mat-raised-button color="primary" (click)="location.back();">Cancel</button>
      </div>

      <div *ngIf="editing">
        <button mat-raised-button color="primary" (click)="addField()">Add Field</button>
        <input id="uploadFields" style="width: 0px; visibility: hidden;" type="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
          (change)="uploadFields($event)" />
        <button mat-raised-button color="primary" (click)="document.getElementById('uploadFields').click();">Upload Fields</button>
        <button mat-raised-button color="accent" (click)="updateTable()">Update Table</button>
        <button mat-raised-button color="primary" (click)="location.back();">Back</button>
      </div>

    </div>
  </div>
  <br>
  <table>
    <thead>
      <tr>
        <th>Field Name</th>
        <th>Type</th>
        <th>Length</th>
        <th>Unique</th>
        <th>Null</th>
        <th>Field Description</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let field of fields let i = index">
        <td>
          <mat-form-field class="full-width">
            <input matInput [formControl]="field.fieldName">
            <mat-error *ngIf="field.fieldName.hasError('required')">
              Please fill the required field
            </mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="full-width">
            <mat-select [formControl]="field.type">
              <mat-option *ngFor="let type of Types" [value]="type">
                {{ type }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="field.type.hasError('required')">
              Please fill the required field
            </mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="full-width" *ngIf="field.type.value === 'Double' || field.type.value === 'Integer' || field.type.value ===  'Number' || field.type.value === 'String'">
            <input matInput type="number" [formControl]="field.length">
          </mat-form-field>
        </td>
        <td>
          <mat-checkbox [formControl]="field.unique"></mat-checkbox>
        </td>
        <td>
          <mat-checkbox [formControl]="field.null"></mat-checkbox>
        </td>
        <td>
          <mat-form-field class="full-width">
            <input matInput [formControl]="field.fieldDescription">
          </mat-form-field>
        </td>
        <td>
          <button mat-icon-button (click)="removeField(i);">
            <mat-icon color="warn">delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</mat-card>
